.gitattributes export-ignore
.gitignore export-ignore
* text=auto
* eol=lf
*.sh eol=lf
*.ac eol=lf
*.am eol=lf
*akefile eol=lf
*.txt eol=crlf
*.c eol=lf
*.cpp eol=lf
*.h eol=lf
*.md eol=lf
*.py eol=lf
